@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  font-weight: lighter;
  letter-spacing: 0.1em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primarycolor: #fe4775;
  --secondarycolor: #161060;
  --primarytext: #111111;
  --headlinecolor: #393939;
  --alternativetext: #ffffff;

  --primary-font-family: "Roboto", sans-serif;
  --secondary-text-color: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-weight: lighter;
  font-family: var(--primary-font-family);
}
.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto fr;
  grid-template-columns: auto auto 1fr;
  grid-gap: 2em;
}

.menu {
  grid-column: 1/4;
  justify-self: start;
}

.task {
  grid-column: 2/3;
  align-self: center;
}

/* BLOCK RADIO */
.radio-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.radio-group__input {
  opacity: 0;
  position: absolute;
}
.radio-group__title {
  cursor: pointer;
}

.radio-group__input:checked + .radio-group__title {
  color: var(--primarycolor);
}
.radio-group__input:not(:checked) + .radio-group__title {
  opacity: 21%;
}
/* END BLOCK RADIO */

/* BLOCK TASKS */

.checkbox-group {
  background: rgba(212, 212, 212, 0.1);
  padding-top: 3em;
  hyphens: auto;
  text-align: justify;
}
.checkbox-group__input {
  opacity: 0;
  padding-left: 1em;
  padding-right: 3em;
}
.checkbox-group__title {
  cursor: pointer;
  display: table-row;
}

.checkbox-group__input:checked + .checkbox-group__title {
  text-decoration: line-through;
  text-decoration-color: var(--primarycolor);
}
.addtask {
  grid-column: 3/4;
}
/* END BLOCK TASKS */
