@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  font-weight: lighter;
  letter-spacing: 0.1em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primarycolor: #fe4775;
  --secondarycolor: #161060;
  --primarytext: #111111;
  --headlinecolor: #393939;
  --alternativetext: #ffffff;

  --primary-font-family: "Roboto", sans-serif;
  --secondary-text-color: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-weight: lighter;
  font-family: va(--primary-font-family);
  height: 100vh;
  display: grid;
}
/*BLOCK*/
.form {
  display: grid;
  align-content: center;
  font-family: var(--primary-font-family);

  grid-template: auto auto auto auto auto / 1em 1fr;
}
/*element1:add new*/

.form__title {
  color: var(--headlinecolor);
  font-size: 1em;
  grid-column: 2/3;
}
.form__title:first-child {
  font-size: 2em;
}

/*enter task - enter field*/
input[type="text"].form__input {
  color: var(--secondary-text-color);
  border: none;
  border-bottom: solid 4px rgba(52, 45, 47, 0.38);
  padding: 1em 0;
  letter-spacing: 0.01em;
  grid-column: 2/3;
}

input[type="text"]::placeholder {
  color: #393939;
  opacity: 21%;
  font-size: 2em;
  padding: 2em 0;
}

/* when*/
h3 {
  color: var(--headlinecolor);
  letter-spacing: 0.25em;
  grid-column: 2/3;
}

/* radio buttons*/
.radio-group {
  background: rgba(213, 213, 213, 0.1);
  font-size: 1.3em;
  letter-spacing: 0.01em;
  grid-column: 2/3;
}
.radio-group__input {
  visibility: hidden;
}
.radio-group__input + .radio-group__title {
  cursor: pointer;
}
.radio-group__input:checked + .radio-group__title {
  color: var(--primarycolor);
}

/*add task button*/
input[type="submit"].submit {
  background: var(--primarycolor);
  border: none;
  color: var(--alternativetext);
  grid-column: 1/3;
  margin: 0;
  padding: 2em 0;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
