@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  font-weight: lighter;
  letter-spacing: 0.1em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primarycolor: #fe4775;
  --secondarycolor: #161060;
  --primarytext: #111111;
  --headlinecolor: #393939;
  --alternativetext: #ffffff;

  --primary-font-family: "Roboto", sans-serif;
  --secondary-text-color: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-weight: lighter;
  font-family: va(--primary-font-family);
  height: 100vh;
  display: grid;
}
/*BLOCK FORM*/
.form {
  display: grid;
  align-content: center;
  font-family: var(--primary-font-family);
  height: 100%;
  row-gap: 3em;
}
/*element1:add new*/

.form__title {
  color: var(--headlinecolor);
  font-size: 3em;
  letter-spacing: 0.25em;
}
/* ELEMENT ENTER TASK PLACEHOLDER */
.form__input {
  font-size: 2.8em;
  color: var(--secondary-text-color);
  border: none;
  border-bottom: solid 4px rgba(52, 45, 47, 0.38);
  width: 100%;
}

.form__title:first-child {
  font-size: 2em;
}

.form__input::placeholder {
  opacity: 0.37;
  padding-bottom: 2em;
}

.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primarycolor);
  color: var(--alternativetext);
  border: none;
  font-size: 1.4em;
  padding: 1.3em 2em;
}

/* BLOCK RADIO BUTTON*/
.radio-group {
  background: rgba(213, 213, 213, 0.1);
  font-size: 1em;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: space-around;

  padding-top: 2em;
  padding-bottom: 2em;
}
.radio-group__input {
  position: absolute;
  opacity: 0;
}

.radio-group__title {
  color: var(--headlinecolor);
  cursor: pointer;
  opacity: 0.8;
}
.radio-group__input:checked + .radio-group__title {
  color: var(--primarycolor);
}
.radio-group__input:focus-visible + .radio-group__title {
  outline: thin solid;
}

/*add task button*/
input[type="submit"].submit {
  background: var(--primarycolor);
  border: none;
  color: var(--alternativetext);
  grid-column: 1/3;
  margin: 0;
  padding: 2em 0;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
