@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  font-weight: lighter;
  letter-spacing: 0.1em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primarycolor: #fe4775;
  --secondarycolor: #161060;
  --primarytext: #111111;
  --headlinecolor: #393939;
  --alternativetext: #ffffff;

  --primary-font-family: "Roboto", sans-serif;
  --secondary-text-color: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-weight: lighter;
  font-family: var(--primary-font-family);
}
.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}

.dashboard__menu {
  grid-column: 1/4;
  justify-self: start;
  background: none;
  border: none;
  margin: 3em;
  margin-left: 1em;
}

.dashboard__task {
  margin: 0;
  margin-left: 0.3em;
  font-size: 3em;
  grid-column: 1/3;
  align-self: center;
}

.dashboard__bell {
  background: none;
  border: none;
  margin-right: 1em;
  align-self: center;
  justify-self: end;
}
.dashboard__addtask {
  grid-column: 3/4;
  background: var(--primarycolor);
  padding: 2em 3em;
  display: grid;
  border-top-left-radius: 0.5em;
  justify-content: center;
}

/* BLOCK RADIO */
.radio-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-column: 1/2;
  grid-row: span 2;
  text-transform: uppercase;
  align-items: center;
  padding: 4em 2em;
}
.radio-group__input {
  position: absolute;
  opacity: 0;
}
.radio-group__title {
  cursor: pointer;
}

.radio-group__input:checked + .radio-group__title {
  color: var(--primarycolor);
}
.radio-group__input:not(:checked) + .radio-group__title {
  opacity: 21%;
}
/* END BLOCK RADIO */

/* BLOCK TASKS */

.checkbox-group {
  grid-column: 2/4;
  display: grid;
  background: rgba(212, 212, 212, 0.1);
  font-size: 1.3em;
  overflow: auto;
  align-content: start;
  padding: 3em 1em;
  row-gap: 3em;
  height: 1fr;
}

.checkbox-group__input {
  opacity: 0;
  position: absolute;
}
.checkbox-group__title {
  cursor: pointer;
}

.checkbox-group__input:checked + .checkbox-group__title {
  text-decoration: line-through;
  text-decoration-color: var(--primarycolor);
}

/* END BLOCK TASKS */
